{{template "base" .}}

{{define "content"}}
    <div class="row">
        <div class="col">
            <img src="/static/images/bg.jpg" width="900" height="800" class="img-fluid img-thumbnail mx-auto d-block page-image" alt="films image">
        </div>
    </div>
    <div class="content">
        <h1>Область, город, место</h1>
        <p>Добро пожаловать на сайт, посвященный интересным местам в разных городах и областях России! Мы собрали для вас информацию о самых ярких и запоминающихся местах, которые стоит посетить в каждом регионе.</p>
        <h2>Как пользоваться сайтом</h2>
        <p>Чтобы узнать о местах в определенной области или городе, выберите соответствующую категорию в верхнем меню. Вы увидите таблицу с информацией о каждом месте, включая его название, описание и фотографии.</p>
        <p>Информация на нашем сайте постоянно обновляется, чтобы вы могли узнать о новых местах и событиях в вашем городе или регионе. Следите за обновлениями!</p>
        <h2>Контакты</h2>
        <p>Если у вас есть вопросы или предложения по улучшению нашего сайта, пожалуйста, свяжитесь с нами:</p>
        <ul>
            <li>Email: info@cityplace.com</li>
        </ul>
    </div>
{{end}}